<div class="container">

  <div class="container-fluid" >
    <div class="card" >
      <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

            <mat-icon>menu</mat-icon>
          </button>
          <span>{{usuario}}</span>
          <span class="example-spacer"></span>


            <mat-icon>supervised_user_circle</mat-icon>

        </mat-toolbar>
      </p>
      <mat-card>
        <mat-card-header class="card-title text-center">
          <div mat-card-avatar><em class="material-icons">ballot</em></div>
          <mat-card-title>Generaci&oacute;n de turnos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            [formGroup]="formTurnos"
            class="form"
            (submit)="enviarDatos()"
            novalidate
          >
            <mat-card>
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Comercio</mat-label>
                    <mat-select
                      matTooltip="Comercios"
                      [matTooltipPosition]="'below'"
                      formControlName="comercios"
                      (selectionChange)="cargarComercios(selected)"
                      [(ngModel)]="selected"
                    >
                      <mat-option>SELECCIONAR</mat-option>
                      <mat-option
                        [value]="ite.idComercio"
                        *ngFor="let ite of comercios"
                        >{{ ite.nomComercio }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                      formTurnos.controls['comercios'].errors?.required
                      "
                    >
                      <span> Se debe seleccionar un comercio </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select
                      formControlName="servicios"
                      [(ngModel)]="selectedS"
                      (ngModelChange)="(selectedS)"
                      name="selectedS"
                      placeholder="Servicios"
                    >
                      <mat-option
                        *ngFor="let ung of servicios"
                        [value]="ung.idServicio"
                      >
                        {{ ung.idServicio }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                      formTurnos.controls['servicios'].errors?.required
                      "
                    >
                      <span>Se debe seleccionar un sercicio</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-form-field color="accent">
                      <mat-label>Fecha Inicio</mat-label>
                      <input
                        readonly="true"
                        matInput
                        [matDatepicker]="picker1"
                        formControlName="fechaInicial"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker
                        #picker1
                        color="primary"
                      ></mat-datepicker>

                      <mat-error
                        *ngIf="
                        formTurnos.controls['fechaInicial'].errors
                            ?.required
                        "
                      >
                        Se debe seleccionar una fecha
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field color="accent">
                      <mat-label>Fecha Finalización</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        formControlName="fechaFinal"
                        readonly="true"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker
                        #picker2
                        color="primary"
                      ></mat-datepicker>

                      <mat-error
                        *ngIf="
                        formTurnos.controls['fechaFinal'].errors
                            ?.required
                        "
                      >
                        Se debe seleccionar una fecha
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <button
                    type="button"
                    data-toggle="modal"
                    class="btn btn-info btn-round btn-fab btn-sm"
                    matTooltip="Generar"
                    [matTooltipPosition]="'below'"

                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  </div>
                </div>

            </mat-card>

          </form>
        </mat-card-content>

        <table
            datatable

            id="tablaId"
            class="table table-bordered table-hover"
          >
            <thead>
              <tr>
                <th scope="col">Comercio</th>
                <th scope="col">Servicio</th>
                <th scope="col">Fecha Turno</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of registrosArray; let i = index">
                <td>{{ item.nombreUbicacion }}</td>
                <td>{{ item.nombreSucursal }}</td>
                <td >

                </td>
              </tr>
            </tbody>
          </table>

      </mat-card>
    </div>
  </div>
</div>





